<!DOCTYPE html>
<html lang="ru">
{% extends 'base.html' %}
{% block content %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/reglog/myprof.css' %}">

<body>
<div class="menuname">
    <div class="prof_name">
        {{ user.myuser.first_name }} {{ user.myuser.nickname }} {{ user.myuser.last_name }}<br>
    </div>
</div>
{% if user.myuser.ava %}
    <div class="prof_ava"> 
        <img src="{{ user.myuser.ava.url }}" alt="avatar">
    </div> 
{% endif %}

<div class="b">

    <label class="inform" for="age">возраст: </label><br>
        <div class="prof_information">
            {{ user.myuser.calculate_age }}<br>
        </div> 
    <label class="inform" for="email">почта:</label><br> 
        <div class="prof_information">
            {{ user.myuser.email }}<br>
        </div>
    <label class="inform" для="about">о себе:</label><br> 
        <div class="prof_information">
            {{ user.myuser.about }}<br>
        </div>
</div>

<div class="profmenu">
    <input type="checkbox" id="priv-checkbox" class="priv-checkbox">
    <label for="priv-checkbox" class="privat"></label>
    <ul class="privat-menu">
        <li><a class="privat-item" href="{% url 'editprofile' %}">редактировать</a><li>
        
        <li><a class="privat-item" href="{% url 'user_list' %}" >пользователи</a><li>
        <li><a class="privat-item" href="{% url 'add_tutor' %}" >tutor+</a><li>
            <li><a class="privat-item" href="{% url 'create' %}" >command+</a><li>

        <li><a class="privat-item" href="{% url 'logout' %}">выход</a><li>
    </ul>
</div>

{% endblock content %}

