.privat-menu {
        height: 25vh;
        overflow-y: auto;
        width: 130px;   
}
.priv-checkbox {
        position: absolute;
        visibility: hidden;
}

.privat {
        position: fixed;
        z-index: 10;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        width: 40px;
        height: 26px;
        cursor: pointer;
        margin-top:-25vh ;
        margin-left: 2vw;
}
.privat::before,
.privat::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #000;
}
.privat::before {
        top:0;
        box-shadow: 0 11px 0 #000;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.privat::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
}
.priv-checkbox:checked + .privat::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
        } 
.priv-checkbox:checked + .privat::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
}
.privat-menu {
        top: 5vh;
        right: 50vw;
        position: absolute;
        gap: 20px;
        padding: 40px;
        padding-top: 30px;
        margin-top:  58px;
        background: #444;
        list-style-type: none;
        transform: translateX(-180%);
        transition: .3s;    
}
.privat-menu {
        margin-top:51vh;
        left:5vw;
        display: block;
        padding-top:10px;
        padding: 8px;
        color: white;
        font-size: 14px;
        font-family:Courier New;
        text-align: center;
        text-decoration: none;
}
.priv-checkbox:checked ~ .privat-menu {
        transform: translateX(0);
}

.scrollable-block {
        max-height: auto;
        overflow: auto;
}
.privat-item {
        margin-top:20px; 
        display: block;
        padding-top:10px; 
        padding: 8px; 
        color: white;
        font-size: 14px;
        font-family:Courier New;
        text-align: center;
        text-decoration: none;
}
.prof_name {
        margin-top:4vh;
        margin-left: 6vw;
        font-size: 18px;
        color: #444;
}
.inform {margin-left: 2vw;font-size: 15px;
        color: #444;
}
.prof_ava {
        float: left; 
        margin-right: 3vw; 
        margin-top:5vh;
}
.prof_information {
        overflow: auto; 
        margin-bottom: 10px; 
        margin-left: 2vw;
}
@media screen and (max-width: 768px) { 
.b {
        display: flex; 
        flex-direction: column;
}
.prof_ava {
        float: none; 
        margin-right: 0; 
        margin-bottom: 10px;
}
}
.b{margin-top:4vh;
        margin-left: 20vw;font-size: 18px;
        color: #444;
}